/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:200);

* {
	background: #1ac6ff;
	font-family: 'Terminal Dosis', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}

a:visited {
	color: black;
}

.container{
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}


header{
	text-align: center;
}

label { 
	font-size: 18px;
}

data {
	color:white;
}

h2 {
	text-align: center;
	font-size: 32px;
	font-family: 'Futura';
}

#title{
	font-size: 20px;
}

#zippy{
	padding-right: 15px;
}

#weatherForm{
	text-align: center;
}

.reactWeatherInfo .weatherContainer
{
    display: block;

    -webkit-animation: fadeInFromNone 1s ease-out;
    -moz-animation: fadeInFromNone 1s ease-out;
    -o-animation: fadeInFromNone 1s ease-out;
    animation: fadeInFromNone 1s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


#getWeather {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family: 'Futura';
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

#getWeather:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
#getWeather:active {
	position:relative;
	top:1px;
}

.weather-info input[type="text"] {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  background: white;
  color:grey;
}
.weather-info input[type="text"]:focus,
.weather-info input[type="text"].focus {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
